/* Override some defaults */
html, body {
  background-color: #181213;
  background-image: url("/images/background.jpg");
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
h1, h2 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 30px;
  line-height: 36px;
  color: black;

}
h1 small {
  font-size: 18px;
  color: inherit;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
.brand {
  font-size: 24px;
}
/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #687;
  padding: 20px 20px 10px;
  border-radius: 5px 5px 0 0;
  margin: -20px -20px 20px;
}

.topbar {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 10px;
}

.topbar a{
  color:#bfbfbf;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  padding:8px 10px 12px;
  float:left;
  display:block;
}
.topbar a:hover{
  background-color: #282223;
  text-decoration: none;
}

.light-over {
  line-height: 30px;
  margin-top: 17px;
  text-align: center;
  color: white;
  background-color: #181213;
  opacity: .75;
  display: inline-block;
}

.hide-links a {
  color: inherit;
}
.no-underline{
  text-decoration: none;
}

footer {
  text-align: center;
}
footer > * {
  padding-left: 10px;
  padding-right: 10px;
}