/* Override some defaults */
html, body {
  background-color: #181213;
  background-image: url("/images/background.jpg");
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
h1, h2 {
  margin: 0;
  padding: 0;
  display: inline;
}
h1 {
  font-size: 30px;
  line-height: 36px;
  color: black;

}
h1 small {
  font-size: 18px;
  color: inherit;
}
h2 {
  font-size: 24px;
  line-height: 36px;
  display: inline;
}
.navbar-brand {
  font-size: 24px;
  float: left;
}
/* The white background content wrapper */
.content {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  padding-bottom: 20px;
}

/* Page header tweaks */
.page-header {
  background-color: #687;
  padding: 20px 20px 10px;
  margin: 0 -20px 20px;
  border-radius: 5px 5px 0 0;
}
nav {
  text-align: left;
}
.navbar {
  margin-bottom: 10px;
  border-radius: 0;
}
.navbar ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.navbar-collapse {
  border-width: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
  color: #ccc;
  background-color: inherit;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover{
  background-color: #282223;
  text-decoration: none;
  color: #ccc;
}

.light-over, .navbar-default {
  line-height: 30px;
  margin-top: 17px;
  color: white;
  background-color: #161213;
  opacity: .75;
  border-width: 0px;
}

.hide-links a {
  color: inherit;
}
.no-underline{
  text-decoration: none;
}

footer {
  text-align: center;
}
footer > * {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

@media (min-width: 1200px) {
  .container {
      width: 970px;
  }
}