{% assign sorted_projects = (site.projects | sort: 'priority' | reverse) %}
{% for project in sorted_projects %}
<div class="row-fluid">
    <div class="circle-container col-xs-12 col-sm-4 col-md-3 hide-links">
        {% if project.link_url %}
        <a class="circle" href="{{ project.link_url }}">
        {% else %}
        <a class="circle" href="{{ project.url }}">
        {% endif %}
            <div>
                <h2>{{ project.title }}</h2>
                <p>{{ project.subtitle }}</p>
            </div>
        </a>
    </div>
</div>
{% endfor %}