{% include head.html %}
<body>
    <div class="container">
        {% include header.html %}

        <div class="content">
            <div class="row page-header">
                <div class="col-xs-12"><h1>{{ page.title }}</div>
                <div class="col-xs-12"><h1><small>{{ page.subtitle }}</small></h1></div>
            </div>
            
            <div id="main-container" class="row">
                <div id="main" class="col-xs-12">
                    {{ content }}
                </div> <!-- #main -->
            </div> <!-- #main-container -->
        </div>
        {% include footer.html %}
    </div>
</body>
</html>