{% include head.html %}
<body>
    {% include header.html %}
    <div class="container">

        <div class="content">
            <div class="row">
                <div class="col-xs-12 col-sm-4 center">
                    <img src="images/me.jpg" class="image">
                </div>
                <div id="main-container" class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-12">    
                            <h2 id="about-me">About Me</h2>

                            <p>Currently I’m a graduate student and researcher at the University of Wisconsin Madison.
                            My research is in the area of mobile networking. I work with Suman Banerjee on his WiRover project
                            which aims to provide internet connectivity to mobile nodes utilizing multiple cellular interfaces.</p>
                            <p>I have taken advanced classes in networking, operating systems, computer architecture, and mobile computing.
                            I am interested in the fields of multipath networking, distributed computing and unstructured networks.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
